:root {
  --font-1: 32px;
  --font-2: 24px;
  --font-3: 18px;
  --font-4: 16px;
  --font-5: 14px;
}

.icon-box {
  height: 85px;
}

.main-section {
  background-color: #282b32;
}

.main-card {
  background-color: #3b3e45;
}

.head-secondary {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14.2712px;
  line-height: 25px;
}

.logo {
  width: 107px;
  height: 60px;
}

.nav_content {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.head-container {
  text-align: left;
}

.headline {
  height: 100vh;
  background-image:
    linear-gradient(
      360deg,
      rgba(240, 233, 233, 0.3) 100%,
      rgba(71, 71, 75, 0.3) 0%
    ),
    url('../../assets/imgs/brooke-lark-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head-primary {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  background-image: url('../../assets/imgs/h1image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-Overly {
  z-index: 2;
}

.mainProgram {
  height: 80vh;
}

.col_size {
  width: 100%;
  height: 100%;
}

.mainCol {
  height: 10rem;
}

.navPad {
  height: 4rem;
}

.card-title {
  margin: 0 1rem;
}

.about-section {
  height: 100vh;
}

.about-bottom {
  height: 100vh;
}

.last-section {
  height: 40vh;
}

.footer-line {
  width: 100px;
}

/* Styles for mobile devices */

@media only screen and (max-width: 767px) {
  .head-container p {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  .head-primary {
    width: 290px;
    font-size: 30px;
  }

  .main-card {
    width: 355px;
    height: 95px;
    margin-bottom: 12px;
    font-size: var(--font-5);
  }

  .textBox {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    height: 82.059326171875px;
    width: 191.76907348632812px;
  }

  .btn-style {
    width: 300px;
    height: 68px;
    padding: 20px 50px;
  }

  .ourTechers {
    width: 350px;
    height: 130px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
  }

  .width_foo {
    width: 100%;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
  }

  .image-cont {
    width: 115px;
    height: 126px;
  }

  .img-fluid {
    height: 100%;
  }

  .footer-section {
    height: 20vh;
  }

  /* .teacher-section{} */
}

/* Styles for tablet devices */

@media only screen and (min-width: 768px) {
  .head-container p {
    width: 75%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
  }

  .head-primary {
    width: 700px;
    font-size: 62px;
  }

  .main-card {
    padding: 5px;
    width: 350px;
    margin: 0.3rem;
  }

  .ourTechers {
    width: 500px;
    height: 185px;
    margin-right: 1rem;
  }

  .image-cont {
    width: 150px;
    height: 180px;
  }

  .img-chef {
    height: 100%;
    width: 80%;
  }

  .footer-section {
    height: 30vh;
  }
}

/* Styles for desktop devices */

@media only screen and (min-width: 1024px) {
  .head-container p {
    max-width: 800px;
    width: 30%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25.4902px;
    line-height: 36px;
  }

  .main-section {
    height: 100vh;
  }

  .main-card {
    width: 16rem;
    height: 18rem;
  }

  .image-cont {
    width: 160px;
    height: 180px;
  }

  .img-chef {
    height: 100%;
    width: 100%;
  }

  .footer-section {
    height: 30vh;
  }
}

@media only screen and (min-width: 1440px) {
  .teacher-section {
    height: 100vh;
  }
}
